<div class="row  my-3">
    <div class="col-12">  <h5 class="text-center">Vendors</h5></div>
</div>
<div class="row">  
    <div class="col-lg-4 col-md-4 col-sm-12 my-3" *ngFor="let vendor of vendorList">
        <div class=" border p-0">
            <img class="card-img-top rounded-0" [src]="vendor.image" alt="Card image cap">
            <div class="card-body  text-center">
                <b class="card-text" (click)="vendorDetails()">{{vendor.vendorName}}</b>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 my-3">
        <div class=" border p-0">
            <img class="card-img-top rounded-0" src="https://assets3.thrillist.com/v1/image/2735750/size/gn-gift_guide_variable_c.jpg" alt="Card image cap">
            <div class="card-body  text-center">
                <b class="card-text" (click)="vendorDetails()">Snack It</b>
            </div>
        </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 my-3">
        <div class=" border p-0">
            <img class="card-img-top rounded-0" src="https://www.wallpaperbetter.com/wallpaper/277/728/1011/glass-of-juice-1080P-wallpaper-middle-size.jpg" alt="Card image cap">
            <div class="card-body  text-center">
                <b class="card-text" (click)="vendorDetails()">Give Me 5</b>
            </div>
        </div>
    </div> -->
</div>