<section id="cover" style="margin-top: 5%;
margin-bottom: 3%;">
<p-table [value]="orderList">
    <ng-template pTemplate="header">
        <tr>
            <th>Order Id</th>
            <th>Ordered Date</th>
            <th>Price</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listofOrders>
        <tr>
            <td>{{listofOrders?.orderId}}</td>
            <td>{{listofOrders?.orderPlacedDate}}</td>
            <td>&#8377;{{listofOrders?.totalPrice}}</td>
        </tr>
    </ng-template>
       
</p-table>
</section>
